.education {
  width: 100%;
}

.education__sub {
  position: relative;
}

.education__sub::before {
  content: '';
  position: absolute;
  height: 88%;
  width: 2px;
  background: #000;
  opacity: 0.2;
  top: 30px;
  left: 15.5px;
}

.education__sub .education__section:last-child::after {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  height: 90%;
  width: 5px;
  top: 30px;
  left: 12px;
}
