.education {
  width: 100%;
}

.education__sub {
  position: relative;
  width: 100%;
}

.education__sub::before {
  content: '';
  position: absolute;
  height: 95%;
  width: 2px;
  background: #000;
  opacity: 0.2;
  top: 10px;
  left: 15.5px;
}
