.homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 40px);
  padding-left: 80px;
  padding-top: 50px;
  overflow: hidden;
}

.homepage__logo {
  user-select: none;
  font-family: Great Vibes, cursive;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 100px;
}

.homepage__body {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.homepage__bodyLeft {
  color: #fff;
}

.homepage__bodyLeft > h1 {
  user-select: none;
  font-weight: 500;
  font-size: 34px;
}

.homepage__bodyLeft > div {
  display: flex;
  align-items: center;
}

.homepage__bodyLeft > div > span {
  user-select: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-left: 30px;
}

.homepage__bodyLeft .MuiButtonBase-root {
  background: #252525;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 28px 20px;
  margin: 40px 0;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.homepage__bodyLeft .MuiButtonBase-root .MuiSvgIcon-root {
  font-size: 32px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.2s ease;
}

.homepage__bodyLeft .MuiButtonBase-root:hover {
  background: #252525;
}

.homepage__bodyLeft .MuiButtonBase-root:hover .MuiSvgIcon-root {
  color: #fff;
}

.homepage__bodyRight > * {
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 8%;
  right: -12%;
}

.homepage > .footer {
  justify-content: flex-start;
}
