.contentInput {
  width: 100%;
  display: flex;
  align-items: center;
}

.contentInput > p {
  outline: none;
  width: 100%;
  font-size: 55px;
  padding: 0 5px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.2s ease;
  font-family: Poppins, sans-serif;
  line-height: 1.4;
}

.contentInput > p:focus {
  background: rgba(128, 128, 128, 0.2);
}

.contentInput > p:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  color: #999999;
}

.placeholderBold > p:empty::before {
  color: #808080;
}

.placeholderSemiBold > p:empty::before {
  color: #9c9c9c;
}
