.toolBar {
  position: sticky;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #fff;
  animation: moveDown 1s ease;
}

.toolBar > div {
  border-radius: 12px;
  background: #252525;
  margin: 0 8px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  height: 100px;
}

.toolBar__color {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.toolBar__color > span:first-child {
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border-color 0.2s ease;
}

.toolBar__color > span:first-child:hover {
  border-color: #fff;
}

.toolBar__sections {
  position: relative;
}

.toolBar__sectionDropdown {
  position: absolute;
  top: 120%;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 2px 40px -1px rgba(0, 0, 0, 0.2);
  animation: moveInFadeIn 0.3s linear;
}

.toolBar__title {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 12px;
}

.toolBar__typography {
  padding: 12px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.toolBar__typography > select {
  width: 140px;
  background: #fff;
  padding: 10px 8px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
}

.toolBar__textSize {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.toolBar__textSize > div:first-child {
  display: flex;
  font-family: serif;
  align-items: center;
}

.toolBar__textSize > div:first-child > span {
  cursor: pointer;
  margin: 0 5px;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  transition: color 0.2s ease;
}

.toolBar__textSize > div:first-child > span:hover {
  color: #fff;
}

.toolBar__textSize > div:first-child > span:nth-child(1) {
  font-size: 18px;
}

.toolBar__textSize > div:first-child > span:nth-child(2) {
  font-size: 32px;
}

.toolBar__textSize > div:first-child > span:nth-child(3) {
  font-size: 44px;
}

.toolBar__textSize--selected {
  color: #fff !important;
}

.toolBar__similar {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar__underDevelopment::before {
  content: 'Comming Soon...';
  position: absolute;
  color: #fff;
  background: rgb(233, 23, 76);
  border-radius: 8px;
  padding: 5px 8px;
  width: 150px;
  bottom: -45%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.toolbar__underDevelopment::after {
  content: '';
  position: absolute;
  background: rgb(233, 23, 76);
  padding: 10px;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.toolbar__underDevelopment:hover::before,
.toolbar__underDevelopment:hover::after {
  opacity: 1;
}

.toolBar__similar .MuiSvgIcon-root {
  cursor: pointer;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.2s ease;
}

.toolBar__similar:hover .MuiSvgIcon-root {
  color: #fff;
}

.toolBar__save {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.toolBar__utils {
  display: flex;
  align-items: center;
  padding: 14px;
  height: 100%;
  cursor: pointer;
}

.toolBar__utils .MuiSvgIcon-root {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.2s ease;
  cursor: pointer;
}

.toolBar__utils .MuiSvgIcon-root:hover {
  color: #fff;
}

.toolBar__utils > span {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-left: 10px;
}

.toolBar__download {
  filter: hue-rotate(180deg) brightness(130%);
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 30px;
}

.toolBar__download .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.6);
}

.toolBar__download:hover .MuiSvgIcon-root {
  color: #000;
}

@keyframes moveInFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10%);
  }

  65% {
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
