.professionalExperience__section {
  position: relative;
  margin: 2px 0;
  padding: 4px 0;
  padding-left: 32px;
  border: 2px dashed transparent;
  transition: all 0.2s ease;
}

.professionalExperience__timelineDot {
  content: '';
  position: absolute;
  background: #bb3d76;
  border-radius: 50%;
  border: 6px solid #fff;
  padding: 7px;
  top: 5px;
  left: 1.8px;
  z-index: 2;
}

.professionalExperience__section:hover {
  border-color: #d1d1d1;
}

.professionalExperience__section:last-child::after {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  height: 80%;
  width: 2px;
  top: 30px;
  left: 13.5px;
  z-index: 1;
}

.professionalExperience__section:hover .utilBtns {
  opacity: 1;
}
