.professionalExperience {
  width: 100%;
}

.professionalExperience__sub {
  position: relative;
  overflow: hidden;
}

.professionalExperience__sub::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 3px;
  background: #000;
  opacity: 0.2;
  top: 30px;
  left: 15px;
}

.professionalExperience__sub
  > .professionalExperience__section:last-child::after {
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  height: 100%;
  width: 5px;
  top: 30px;
  left: 12px;
}

.professionalExperience__section {
  position: relative;
  margin: 2px 0;
  padding: 4px 0;
  padding-left: 32px;
  border: 2px dashed transparent;
  transition: all 0.2s ease;
}

.professionalExperience__section::before {
  content: '';
  position: absolute;
  background: #bb3d76;
  border-radius: 50%;
  border: 6px solid #fff;
  padding: 7px;
  top: 9px;
  left: 1.8px;
  z-index: 2;
}

.professionalExperience__section:hover {
  border-color: #d1d1d1;
}
