.professionalExperience {
  width: 100%;
}

.professionalExperience__sub {
  position: relative;
}

.professionalExperience__sub::before {
  content: '';
  position: absolute;
  height: 75%;
  width: 2px;
  background: #000;
  opacity: 0.2;
  top: 30px;
  left: 15.5px;
  z-index: 1;
}
