.utilBtns {
  position: absolute;
  top: -13.5px;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease;
}

.utilBtns .MuiIconButton-root {
  filter: hue-rotate(180deg) brightness(130%);
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 4px;
  margin: 0 8px;
}

.utilBtns .MuiSvgIcon-root {
  font-size: 16px;
  color: #000;
}
