.skills__sub {
  margin: 10px 0;
  width: 100%;
}

.skills__sub .MuiIconButton-root {
  padding: 8px;
}

.skills__sub .MuiSvgIcon-root {
  font-size: 32px;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
}

.skills__languageLogos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: auto;
}

.skills__languageLogos img {
  width: 42px;
  margin: 10px;
}

.skills__languageLogos .MuiIconButton-root {
  padding: 4px;
}

.modal__closed {
  display: none !important;
}
