.resume {
  width: 1190px;
  height: 1684px;
  background: #fff;
  margin: 20px auto;
  margin-top: -15px;
  box-shadow: 5px 10px 90px rgba(0, 0, 0, 0.2);
  padding: 70px 75px;
}

.section--disabled {
  display: none;
}
