.resume {
  position: relative;
  width: 1190px;
  min-height: 1684px;
  background: #fff;
  margin: 20px auto;
  margin-top: -15px;
  box-shadow: 5px 10px 90px rgba(0, 0, 0, 0.2);
  padding: 70px 75px;
}

.section--disabled {
  display: none;
}

.resume__overflowAlert {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 300px;
  z-index: 10;
  width: 100%;
  background: rgba(223, 13, 76, 0.5);
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
