.contact {
  width: 100%;
}

.contact__section {
  display: flex;
  align-items: center;
  margin: 18px 0;
  width: 100%;
}

.contact__section > img {
  width: 26px;
}

.contact__section > div {
  margin-left: 12px;
}
