.skillsSection {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.skillsSection span {
  position: relative;
}

.skillsSection span .MuiSvgIcon-root {
  position: absolute;
  font-size: 18px;
  color: #b6b6b6;
  cursor: pointer;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.skillsSection span:hover .MuiSvgIcon-root {
  opacity: 1;
}

.skillsSection img {
  width: 42px;
  margin: 10px;
}
