@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.app {
  background: #bb3d76;
  padding: 20px 0;
  filter: brightness(105%);
}

/* background: #3083dc; */
/* background: #e76650; */
/* background: #bb3d76; */
/* background: #4fb298; */
/* background: #bababa; */
