@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.app {
  padding: 20px 0;
  filter: brightness(105%);
}

.app__onTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__preview {
  z-index: 99999999;
}

.app__loader {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
}

.app__smallScreenMessage {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 1360px) {
  .app__smallScreenMessage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    color: #fff;
    background: #000;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    z-index: 1000000000;
    padding: 20px 10px;
    animation: fadeIn 0.2s linear;
  }
}
