@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.app {
  padding: 20px 0;
  filter: brightness(105%);
}

.app__onTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__preview {
  z-index: 99999999;
}

.app__loader {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
}
